{% extends 'paginas/base.html' %}
{% block conteudo %}
<div class="container">
    <h1 class="text-center">Lista de Clientes</h1><br>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-Mail</th>
            <th>Plano</th>
            <th>Data de Adesão</th>
            <th>Ações</th>
        </tr>
        {% for cliente in list %}
        <tr>
            <th>{{cliente.id_cliente}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.plano}}</td>
            <td>{{cliente.adesao}}</td>
            <td>
                <a href="/delete/{{ cliente.id_cliente }}" class="btn btn-outline-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}